.game-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10%;
  background-color: rgb(222, 184, 135);
}
.game-options {
  width: 100%;
  background-color: rgb(163, 137, 102);
}
.game-options > * {
  padding: 0.6rem;
  margin: 1rem;
}

.number-hint {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 4rem;
}
.numbers {
  display: flex;
  justify-content: flex-start;
  margin: 1% 0;
  width: 60%;
  text-align: center;
  /* background-color: cadetblue; */
  border-right: 3px solid;
  font-size: 1.7rem;
}
.numbers > * {
  border: 2px solid;
  background-color: cadetblue;
  padding: 3%;
  margin: 0 6%;
}
.number-info {
  margin-left: 2%;
  width: auto;
}
