* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  margin: 45%;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}
:root {
  font-family: "Courier New", Courier, monospace;
}
